*{
  box-sizing: border-box;
}

:root {
--accent-color:#ff9500;
--accent-light: #ffc77a;
--black-color:#2b2b2b;
--white-color: #FEFEFE;
}

body {
    background-color: #FEFEFE;
    color: var(--black-color);
}

* {
    font-family: 'Ubuntu', sans-serif;
}

h1,h2,h3,h4,h5 {
    font-family: 'Righteous', cursive;
}

a{
    text-decoration: none;
}

.tc-accent{
    color: var(--accent-color);
}

.tc-black {
    color: var(--black-color);
}

.tc-white{
    color: var(--white-color);
}

.bg-black {
    background-color: var(--black-color);
}

.bg-accent {
    background-color: var(--accent-color);
}


/* navbar */
.bg-nav {
    background-color: #FEFEFE;
}

.navbar-light .nav-link {
    color: var(--accent-color) !important;
}

.mini-logo{
    width: 60px;
    display: block!important;
}


.shadow-nav{
    box-shadow: 0px 11px 9px -5px rgb(0 0 0 / 15%)!important;
}

.navbar-toggler{
    border-color: transparent !important;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.anim1 {
  transition: all 0.5s !important;

}
.anim1:hover {
  transform: scale(1.5);
  transition: all 0.5s!important;
}

.dropdown-item{
  transition: all 0.5s!important;
}

.dropdown-item:hover{
  background-color: var(--accent-light)!important;
  transition: all 0.5s!important;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--black-color);
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* .underline{

} */


/* MASTHEAD */

@media screen and (max-width: 992px) {
    #call-to-action {
     display: none;

    }
    .masthead {
        height: 200px;
        width: 100%;
    }
  }


@media screen and (max-width: 992px) {
    #call-to-action-2 {
     display: none;
    }
    .masthead2 {
        height: 200px;
        width: 100%;
    }
  }

  @media screen and (max-width: 280px) {
    #empty {
      display: none;
    }
  }

.masthead{
  background-image: url(/img/cart-image.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead2{
  background-image: url(/img/girl-phone.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mast-smoke{
  background-color: var(--white-color);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.39);
}

.btn-outline-secondary{
  border-color: var(--accent-color);
  color: var(--accent-color);
  transition: all 0.5s;
}

.btn-outline-secondary:hover{
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  color: var(--white-color);
  transition: all 0.5s;
}

.mic{
  cursor: pointer;
}


/* CARD CATEGORIES */
.card-style {
    height: 160px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

.overlay{
  height: 160px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.404);
  overflow: hidden;
}

.card-style, a{
    color: var(--white-color);
}

.btn-primary {
    background-color: var(--accent-color)!important;
    border-color: transparent!important;
}


/* show annunci */
.date-style{
    color: lightslategrey;
}


/* carousel */


/* Form */
Edit in JSFiddle
Result
HTML
CSS
JavaScript
Resources
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.body-register {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.body-login {
    background: #f47ac3;
    background: linear-gradient(to right,#fd39af, #fd6ec4);
  }

  .body-create {
    background: #0ab1ba;
    background: linear-gradient(to right,#089299, #0cc6cf);
  }

  .body-work {
    background: #5c5c5c;
    background: linear-gradient(to right,#3f3f3f, #888888);
  }

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  background: scroll center url('https://images.unsplash.com/photo-1569518082290-b170f86999d4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80');
  background-size: cover;
}

.card-signin .card-img-left2 {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('/img/cani-login.png');
    background-position: center;
    background-size: cover;
  }

  .card-signin .card-img-left3 {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('https://images.unsplash.com/photo-1521657172978-eec332b0548e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80');
    background-position: center;
    background-size: cover;
  }


.card-signin .card-img-left4 {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('/img/handles.jfif');
    background-position: center;
    background-size: cover;
  }

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.height-login{
    height: 600px;
}


/* CATEGORIES */
.dummyHeight{
  height: 200px;
}

.bottom-0 {
    margin-bottom: 16px !important;
}
/* FOOTER */
.mini-logo1{
    width: 100px;
}


/* REVISOR */
.img-revisor{
  width: 500px;
}

/* ADS */
.shadow-ads{
    box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 15%)!important;
    transition: all 0.5s;
}

.shadow-ads:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 15px 5px  rgb(0 0 0 / 50%)!important;
    transition: all 0.5s;
}


/* GO UP BUTTON */
#myBtn {
  display: block;
  background-color: var(--accent-light);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 50%;
  right: 20px;
  z-index: 1000;
  outline:none;
  border: none;
  color: var(--white-color);
  transition: all 0.5s;
  opacity: 0.5;
}

#myBtn:hover {
  cursor: pointer;
  background-color: var(--black-color);
  color: var(--accent-color);
  transition: all 0.5s;
  opacity: 1;
}

/* bottoni lingue */
.btn-lingue {
  background-color: transparent;
  border: none;
}


/* MINI SEARCHBAR */

#myBtn2 {
  display: block;
  background-color: var(--accent-light);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 50%;
  left: 20px;
  z-index: 1000;
  outline:none;
  border: none;
  color: var(--white-color);
  transition: all 0.5s;
}

#myBtn2:hover {
  cursor: pointer;
  background-color: var(--black-color);
  color: var(--accent-color);
  transition: all 0.5s;
}

 #miniBtn{
  display: block;
  order: 1;
  position: fixed;
  bottom: 51%;
  left: 284px;
  z-index: 1000;
}


#miniSearch{
  display: block;
  order:2;
  position: fixed;
  bottom: 51%;
  left: 75px;
  z-index: 900;
  width: 250px;
}

.hide{
  display: none;
}

.unclear{
  opacity: 0.5!important;
}
